# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*

**/*.iml
**/*.project
**/*.prefs
**/*.classpath
**/*.settings
**/*.bin
swa/.$jui.drawio.bkp
/jui-wasm/target
/teavm-demo-main/target
/jui-sandbox/target
/jui-server-grizzly/target
/jui-server/target
